.calculateContainer .rightContainerForm {
  width: 18.9vw;
  padding-top: 1.26vw;
}

.calculateContainer .rightContainerForm h4 {
  margin-left: 2.331vw;
  font-size: 1.386vw;
  font-weight: bold;
  letter-spacing: 0.00945vw;
  color: #535ad1;
  margin-bottom: 0.441vw;
  font-family: "Lato";
}

.calculateContainer .rightContainerForm .calculateTextField {
  width: 14.49vw !important;
  margin-top: 0.945vw !important;
  margin-bottom: 0 !important;
}

.calculateContainer .rightContainerForm .calculateTextField label {
  color: #535ad1;
  letter-spacing: 0.4px;
  font-size: 15.5px;
  font-family: "Lato";
}

.calculateContainer .rightContainerForm .calculateTextField .MuiOutlinedInput-root {
  height: 3.024vw;
}

.calculateContainer .rightContainerForm .calculateTextField .MuiOutlinedInput-notchedOutline {
  border: 2px solid #c5cee0;
}

.calculateContainer .rightContainerForm .calculateTextField .MuiInputAdornment-root {
  opacity: 0.6;
}

.calculateContainer .rightContainerForm .calculateTextField .MuiInputBase-input {
  font-size: 1.008vw;
  font-family: "Lato";
}

.calculateContainer .rightContainerForm .calculateActive {
  background-color: #8f9bb3 !important;
  border: 2px solid #8f9bb3 !important;
  color: #fff !important;
}

.calculateContainer .rightContainerForm .calculateCommonBtn {
  width: 6.678vw;
  height: 3.213vw;
  background-color: #fff;
  border: 2px solid #c5cee0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Lato";
  color: #000;
  margin-left: 0.567vw;
  margin-right: 0.567vw;
  margin-top: 0.945vw;
  font-size: 0.882vw;
}

.calculateContainer .rightContainerForm .calculateBtn {
  width: 14.49vw;
  height: 3.024vw;
  background-color: #535ad1;
  margin-top: 0.945vw;
  font-family: "Lato";
  border-radius: 0.315vw;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.882vw;
}

.calculateContainer .rightContainerForm .progressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.945vw;
}

.calculateContainer .rightContainerForm .progressContainer .leftSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculateContainer .rightContainerForm .progressContainer .leftSection .textProgress {
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.756vw;
  line-height: 1.26vw;
  letter-spacing: 0.00945vw;
  color: #8f9bb3;
}

.calculateContainer .rightContainerForm .progressContainer .progressBarLine {
  height: 0.63vw;
  width: 7.623vw;
  border-radius: 1.89vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0.504vw;
  margin-right: 0.504vw;
  margin-top: 0.252vw;
}

.calculateContainer .rightContainerForm .progressContainer .progressBarLine .leftPart {
  background-color: #5DC699;
  border-top-left-radius: 1.89vw;
  border-bottom-left-radius: 1.89vw;
}

.calculateContainer .rightContainerForm .progressContainer .progressBarLine .rightPart {
  background-color: #F18A8A;
  border-top-right-radius: 1.89vw;
  border-bottom-right-radius: 1.89vw;
}

.calculateContainer .rightContainerForm .progressContainer .rightSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculateContainer .rightContainerForm .progressContainer .rightSection .textProgress {
  font-family: "Lato";
  font-weight: bold;
  font-size: 0.756vw;
  line-height: 1.26vw;
  letter-spacing: 0.00945vw;
  color: #8f9bb3;
}

.calculateContainer .rightContainerForm .totalPriceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.04vw;
  width: 14.49vw;
  border-radius: 0.315vw;
  background: rgba(93, 198, 153, 0.1);
  margin-top: 0.756vw;
}

.calculateContainer .rightContainerForm .totalPriceContainer .textPrice {
  font-family: "Lato";
  font-weight: 800;
  font-size: 2.016vw;
  line-height: 1.26vw;
  margin-bottom: 0.819vw;
  letter-spacing: 0.00945vw;
  color: #3ec68c;
  margin-top: 0.441vw;
}

.calculateContainer .rightContainerForm .totalPriceContainer .subTextPrice {
  font-family: "Lato";
  font-weight: 600;
  font-size: 0.882vw;
  line-height: 1.26vw;
  letter-spacing: 0.00945vw;
}

.calculateContainer .rightContainerForm .listOfTextAmountContainer {
  width: 14.49vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.756vw;
}

.calculateContainer .rightContainerForm .listOfTextAmountContainer .textPrice {
  font-family: "Lato";
  font-weight: 600;
  font-size: 0.882vw;
  line-height: 1.26vw;
  letter-spacing: 0.00945vw;
}

.calculateContainer .rightContainerForm .listOfTextAmountContainer .subTextPrice {
  font-family: "Lato";
  font-weight: 600;
  font-size: 0.882vw;
  line-height: 1.26vw;
  letter-spacing: 0.00945vw;
}

.calculateContainer .rightContainerForm .showEMITableBtn {
  width: 14.49vw;
  height: 3.024vw;
  background-color: #3ec68c;
  margin-top: 1.008vw;
  font-family: "Lato";
  border-radius: 0.315vw;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.882vw;
}
/*# sourceMappingURL=emicalculator.css.map */