$desk: 100 / 1440;
$mob: 100 / 375;
.iconTextContainer {
    display: flex;
    align-items: center;
    margin-left: 38 * $desk +vw;
    margin-top: 37 * $desk + vw;
    width: 1024 * $desk + vw;
    @media only screen and (max-width: 800px) {
        display: none;
    }
    .icon {
        width: 38 * $desk + vw;
        height: 38 * $desk + vw;
        margin-right: 15 * $desk + vw;
        // margin-left: 47 * $desk + vw;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .text {
        font-size: 20 * $desk + vw;
        font-weight: bold;
        color: #535ad1;
    }
}
.formMainContainer {
    position: relative;
    margin-left: 38 * $desk + vw;
    margin-top: 32 * $desk + vw;
    margin-bottom: 50 * $desk + vw;
    width: 1024 * $desk + vw;
    @media only screen and (max-width: 800px) {
        width: 100%;
        margin-top: 18 * $mob + vw;
        margin-bottom: 50 * $mob + vw;
    }
    h3 {
        font-size: 18 * $desk + vw;
        font-weight: 600;
        color: #727272;
        margin-bottom: 25 * $desk + vw;
        @media only screen and (max-width: 800px) {
            margin-left: 36 * $mob + vw;
            margin-bottom: 16 * $mob + vw;
        }
    }
    .formContainer {
        display: flex;
        flex-wrap: wrap;
        width: 800 * $desk + vw;
        @media only screen and (max-width: 800px) {
            flex-wrap: unset;
            flex-direction: column;
            width: 100%;
        }
        .textField {
            width: 244 * $desk + vw;
            margin-right: 20 * $desk + vw !important;
            margin-bottom: 31 * $desk + vw !important;
            margin-top: 0 !important;
            @media only screen and (max-width: 800px) {
                width: 312 * $mob + vw;
                margin-right: 31 * $mob + vw !important;
                margin-left: 32 * $mob + vw !important;
                margin-bottom: 19 * $mob + vw !important;
            }
            label {
                color: #07498e;
                letter-spacing: 0.4 * $desk + vw;
                font-size: 15.5 * $desk + vw;
                span {
                    position:absolute;
                    color: red;
                    font-size: 22px;
                    top: -25px;
                    margin-left: 2px;
                }
                @media only screen and (max-width: 800px) {
                    letter-spacing: 0.4 * $mob + vw;
                    font-size: 15.5 * $mob + vw;
                }
            }
            .MuiOutlinedInput-root {
                height: 56 * $desk + vw;
                @media only screen and (max-width: 800px) {
                    height: 56 * $mob + vw;
                }
            }
            .MuiOutlinedInput-notchedOutline {
                border: 1px solid #bababa;
            }
            .MuiInputAdornment-root {
                opacity: 0.6;
            }
            .MuiInputBase-input {
                font-size: 16 * $desk + vw;
                @media only screen and (max-width: 800px) {
                    font-size: 16 * $mob + vw;
                }
            }
            // .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
            //     border: 2px solid #c5cee0;
            // }
        }
    }
    .borderBottom {
        width: 774 * $desk + vw;
        border-bottom: solid 1px #eaeaea;
        @media only screen and (max-width: 800px) {
            display: none;
        }
    }
    .saveButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200 * $desk + vw;
        height: 50 * $desk + vw;
        border-radius: 33 * $desk + vw;
        background-color: #1cb980;
        cursor: pointer;
        margin-top: 18.5 * $desk + vw;
        margin-left: 576 * $desk + vw;
        @media only screen and (max-width: 800px) {
            width: 200 * $mob + vw;
            height: 50 * $mob + vw;
            border-radius: 33 * $mob + vw;
            margin: auto;
            margin-top: 0;
        }
        .btnText {
            font-size: 16 * $desk + vw;
            font-weight: 500;
            color: #fff;
            @media only screen and (max-width: 800px) {
                font-size: 16 * $mob + vw;
            }
        }
        .arrowIcon {
            width: 16 * $desk + vw;
            height: 16 * $desk + vw;
            margin-left: 27.5 * $desk + vw;
            margin-top: -1 * $desk + vw;
            @media only screen and (max-width: 800px) {
                width: 16 * $mob + vw;
                height: 16 * $mob + vw;
                margin-left: 27.5 * $mob + vw;
                margin-top: -1 * $mob + vw;
            }
            img {
                width: 100%;
                height: 100%;
                vertical-align: unset !important;
            }
        }
    }
}
