$desk: 100 / 1440;
.menuItem {
    color: #fff !important;
    font-size: 13px;
    text-align: center;
    .MuiSvgIcon-root {
        color: #fff;
    }
}
.menuItem::before {
    border-bottom: 1px solid #fff !important;
}