$desk: 100 / 1440;
.LoanbabaContainer {
    display: flex;
    background-color: #fff;
    .leftSection {
        width: 238 * $desk + vw;
        height: 900 * $desk + vw;
        background: #177fb2 0% 0% no-repeat padding-box;
        opacity: 1;
        .loanbabaimg {
            width: 238 * $desk + vw;
            height: 70 * $desk + vw;
            opacity: 1;
        }
        .list {
            .progressContainer {
                margin-top: 39 * $desk + vw;
                .progressBox {
                    display: flex;
                    .progressIconBox {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-left: 31 * $desk + vw;
                        .iconBar {
                            width: 18 * $desk + vw;
                            height: 18 * $desk + vw;
                            background-color: #ffffff;
                            border-radius: 50%;
                            transition: 0.3s;
                        }
                        .activeCurrent {
                            background-color: #fff;
                        }
                        .activeiconBar {
                            background-color: #1cb980;
                        }
                        .bottomProgressBar {
                            width: 0 * $desk + vw;
                            height: 47 * $desk + vw;
                            border: 1px solid #074d72;
                            transition: 0.3s;
                        }
                    }
                    .iconText {
                        color: #ffffff;
                        margin-left: 8 * $desk + vw;
                        font-size: 15 * $desk + rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .rightSection {
        .headerContainer{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 70 * $desk + vw;
            background-color: #FCFCFC;
            margin-top: 20 * $desk + vw;
            margin-bottom: 23 * $desk + vw;
            .backButton {
                margin-left: 47 * $desk + rem;
                width: 24 * $desk + rem;
                height: 24 * $desk + rem;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .needHelpContainer{
                margin-right: 43 * $desk + vw;
                /* need change */
                margin-left: 973 * $desk + vw;
                .needHelpText{
                    font-size: 12 * $desk + vw;
                    color: #535ad1;
                    line-height: 14 * $desk + vw;
                    margin-left: 22 * $desk + vw;
                }
                .rightPart {
                    display: flex;
                    justify-content: center;
                    .phoneCall {
                        width: 18 * $desk + vw;
                        height: 18 * $desk + vw;
                        margin-right: 4 * $desk + vw;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .numberText {
                        font-size: 18 * $desk + vw;
                        font-weight: bold;
                        color: #535ad1;
                    }
                }
            }
        }
        .texualContainer {
            margin-left: 126 * $desk + VW;
            width: 806 * $desk + vw;
            margin-bottom: 20 * $desk + vw;
            .headText{
                color: #177FB2;
                font-size: 32px;
            }
            .headText2 {
                font-size: 32 * $desk + rem;
                color: #07498e;
                margin-bottom: 14 * $desk + rem;
            }
            .subText {
                font-size: 16 * $desk + rem;
                color: #727272;
                margin-bottom: 23 * $desk + rem;
            }
            .subText2 {
                font-size: 16 * $desk + rem;
                color: #727272;
                line-height: 24 * $desk + rem;
                strong{
                    color: #07498E;
                }
            }
            .losContainer {
                display: flex;
                align-items: center;
                margin-top: 33 * $desk + rem;
                .losHeader{
                    margin-right: 10 * $desk + rem;
                    color: #000000;
                    font-size: 16 * $desk + rem;
                    
                }
                .losNumber{
                    width: 110 * $desk + rem;
                    height: 32 * $desk + rem;
                    background-color: #535AD1;
                    color: #FFFFFF;
                    padding: 6 * $desk + rem 13 * $desk + rem 7 * $desk + rem 13 * $desk + rem;
                    text-align: center;
                    border-radius: 4 * $desk + rem;
                }
                .copyIcon{
                    margin-left: 6.36 * $desk + rem;
                    cursor: pointer;
                }
            }
            .trackStatus {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200 * $desk + rem;
                height: 50 * $desk + rem;
                border-radius: 33 * $desk + rem;
                background-color: #1c86fc;
                cursor: pointer;
                .btnText {
                    font-size: 16 * $desk + rem;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
        .offerContainer{
            display: flex;
            margin-left: 88 * $desk + VW;
            .offerBox{
                margin-left: 38 * $desk + VW;
                .offerHead {
                    color: #727272;
                    font-size: 16 * $desk + vw;
                }
                .offerText {
                    color: #07498E;
                    font-size: 24 * $desk + vw;
                    margin-top: 5 * $desk + vw;
                }
            }
        }
        .offerBorder {
            width: 851 * $desk + VW;
            border: 1PX solid #D1D1D1;
            margin-top: 16 * $desk + VW;
            margin-left: 126 * $desk + VW;
        }
    }
    .iconTextContainer {
        display: none;
    }
}
