$desk: 100 / 1440;
.MuiTableCell-root {
    border-bottom: none !important;
}
.filterMainContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16 * $desk + vw;
    h3 {
        font-size: 22 * $desk + vw;
        color: #4046b2;
        font-weight: 600;
        margin-bottom: 0;
    }
    .filterButtonContainer {
        width: 110 * $desk + vw;
        height: 36 * $desk + vw;
        border-radius: 4 * $desk + vw;
        background-color: #fd914d;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .filterImage {
            width: 24 * $desk + vw;
            height: 34 * $desk + vw;
            margin-right: 8 * $desk + vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .filterText {
            color: #fff;
        }
    }
}
