$desk: 100/1440;
.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16 * $desk + vw;
    h3 {
        font-size: 22 * $desk + vw;
        color: #4046b2;
        font-weight: 600;
        margin-bottom: 0;
    }
    .filterBtnContainer {
        width: 110 * $desk + vw;
        height: 36 * $desk + vw;
        border-radius: 4 * $desk + vw;
        background-color: #fd914d;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .filterImage {
            width: 24 * $desk + vw;
            height: 34 * $desk + vw;
            margin-right: 8 * $desk + vw;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .filterText {
            color: #fff;
        }
    }
}

.rightSideContainer {
    width: 23vw;
    background-color: #fff;
    padding-top: 30 * $desk + vw;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h4 {
        margin-left: 40 * $desk + vw;
        font-size: 22 * $desk + vw;
        font-weight: bold;
        letter-spacing: 0.15 * $desk + vw;
        color: #535ad1;
        margin-bottom: 12 * $desk + vw;
        font-family: "Lato";
    }
    .textField {
        width: 230 * $desk + vw;
        margin-top: 14 * $desk + vw !important;
        margin-bottom: 14 * $desk + vw !important;
        margin-right: 20 * $desk + vw !important;
        font-family: "Lato";
        label {
            color: #535ad1;
            letter-spacing: 0.4px;
            font-size: 15.5px;
            font-family: "Lato";
        }
        .MuiOutlinedInput-root {
            height: 48 * $desk + vw;
        }
        .MuiOutlinedInput-notchedOutline {
            border: 2px solid #c5cee0;
        }
        .MuiInputAdornment-root {
            opacity: 0.6;
        }
        .MuiInputBase-input {
            font-size: 16 * $desk + vw;
            font-family: "Lato";
        }
        .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
            border: 2px solid #c5cee0;
        }
    }
    .submitBtn {
        width: 140 * $desk + vw;
        height: 48 * $desk + vw;
        background-color: #535ad1;
        margin-top: 10 * $desk + vw;
    }
}
.deleteIcon {
    background-color: #8f9bb3 !important;
}
.bulkDeletedContainer {
    display: flex;
    align-items: center;
    margin-right: 450 * $desk + vw;
    .bulkDeleteBtn {
        width: 174 * $desk + vw;
        height: 30 * $desk + vw;
        background-color: #ffffff;
        border: 1px solid #8f9bb3;
        font-size: 12 * $desk + vw;
    }
    .selectedText {
        margin-left: 15 * $desk + vw;
        font-size: 12 * $desk + vw;
        line-height: 14 * $desk + vw;
        color: #000000;
    }
    .MuiIconButton-root {
        color: #8f9bb3 !important;
    }
    .MuiButton-root {
        color: #8f9bb3 !important;
    }
}
