@media all {
    .UploadLeads{
     width: 770px;
    }
   .Card {
    background-color: #FFFFFF!important;
    border:  4px solid #535ad1;
    border-radius: 15px!important;
    padding: 1rem 2rem;
   }
}