@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      background-color:#a688e0;
      height: 100vh;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .Login button{
      border-radius:15px ;
    }
    .Card{
      margin: 165px 450px;
      padding: 25px ;
      
      border-radius: 8px!important;
    }
  }