.card{
    background-color: #FFFFFF!important;
    border:  4px solid #535ad1;
    border-radius: 15px!important;
    padding: 1rem 2rem;
    margin: 25px;
}

.button{
    border-radius:15px ;
    background-color: #13B980;
    font-size: 15px;
    font-family: Lato;
    margin: 20px 255px;
     padding: 6px;
 
    }
 .Heading{
    font-weight: bold;
    color: #183365;
    font-family: Lato;
    }
