$desk: 100 / 1440;
.searchTermBox {
    width: 230 * $desk + vw;
    margin-top: 14 * $desk + vw !important;
    margin-bottom: 14 * $desk + vw !important;
    font-family: "Lato";
    label {
        color: #535ad1;
        letter-spacing: 0.4px;
        font-size: 15.5px;
        font-family: "Lato";
    }
    .MuiOutlinedInput-root {
        height: 40 * $desk + vw;
    }
    .MuiOutlinedInput-notchedOutline {
        border: 2px solid #c5cee0;
    }
    .MuiInputAdornment-root {
        opacity: 0.6;
    }
    .MuiInputBase-input {
        font-size: 16 * $desk + vw;
        font-family: "Lato";
    }
}
.textField {
    width: 230 * $desk + vw;
    margin-top: 14 * $desk + vw !important;
    margin-bottom: 14 * $desk + vw !important;
    font-family: "Lato";
    label {
        color: #535ad1;
        letter-spacing: 0.4px;
        font-size: 15.5px;
        font-family: "Lato";
    }
    .MuiOutlinedInput-root {
        height: 48 * $desk + vw;
    }
    .MuiOutlinedInput-notchedOutline {
        border: 2px solid #c5cee0;
    }
    .MuiInputAdornment-root {
        opacity: 0.6;
    }
    .MuiInputBase-input {
        font-size: 16 * $desk + vw;
        font-family: "Lato";
    }
    // .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
    //     border: 2px solid #c5cee0;
    // }
}
.deleteButton {
    width: 125 * $desk + vw;
    background-color: #535ad1;
    box-shadow: none;
}