@media all {
    .Login {
      padding: 68px 0;
      background-color:#535AD1;
      height: 100vh;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .Login button{
      border-radius:15px ;
      background-color: #13B980;
      font-size: 15px;
      font-family: Lato;
      margin: 20px 36px 0
    }
    .Input_lable{
      color:#313F80;
      font-family: Lato
    }
    .Card {
      background-color:#FFFFFF!important;
      border-radius: 16px!important;
      padding: 40px;
      opacity: 1;
      box-shadow: -6px 6px 30px #0000004D;
    }
    .TextLogin {
      font-weight: bold;
      color: #183365;
      font-family: Lato;
    }
    .HorizontlaBar{
      border: 1px solid #FDA770 !important ;
      margin: 0!important;
    }
    .alertBox{
      color: #004085;
      background-color: #cce5ff;
      border-color: #b8daff;
      text-align: center;
      margin: 0 auto 1rem auto;
      padding: .5rem 2.25rem;
     } 
  }