@font-face {
  src: url("images/fonts/Lato-Regular.ttf");
  font-family: "Lato-Regular";
}
@font-face {
  src: url("images/fonts/Lato-Light.ttf");
  font-family: "Lato-light";
}
@font-face {
  src: url("images/fonts/Lato-Bold.ttf");
  font-family: "Lato-bold";
}
html,
body {
  margin: 0;
  font-family: "Lato";
  background-color: #f3f3f3 !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
