.productLoginPageContainer {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6067d2;
}

.productLoginPageContainer .loginBox {
  width: 68.75vw;
  height: 41.25vw;
  -webkit-box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productLoginPageContainer .loginBox .leftBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34.375vw;
  height: 41.25vw;
  border-top-left-radius: 0.375vw;
  border-bottom-left-radius: 0.375vw;
  background-image: linear-gradient(140deg, #fd914d, #f68d57 6%, #ef8961 12%, #e7856a 19%, #e08172 25%, #d87d7b 31%, #cf7a83 37%, #c7768b 44%, #be7293 50%, #b56f9b 56%, #ab6ca3 62%, #a068ab 69%, #9465b2 75%, #8862ba 81%, #795fc2 87%, #685dc9 94%, #535ad1 100%);
}

.productLoginPageContainer .loginBox .leftBox .loginText {
  font-size: 2vw;
  color: #fff;
  margin-top: 2.5625vw;
  width: 31.5vw;
  line-height: 2.25vw;
  font-family: Lato-regular;
  font-weight: lighter;
  text-align: center;
}

.productLoginPageContainer .loginBox .leftBox .loginText strong {
  font-family: Lato-bold;
}

.productLoginPageContainer .loginBox .leftBox .whiteBoxContainer {
  width: 8.625vw;
  height: 8.625vw;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 1.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productLoginPageContainer .loginBox .leftBox .whiteBoxContainer .logoImages {
  width: 4.375vw;
  height: 4.375vw;
}

.productLoginPageContainer .loginBox .leftBox .whiteBoxContainer .logoImages img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.productLoginPageContainer .loginBox .leftBox .contentTextContainer {
  margin-top: 1.6875vw;
}

.productLoginPageContainer .loginBox .leftBox .contentTextContainer p {
  font-size: 1.25vw;
  color: #fff;
  text-align: center;
  padding-bottom: 1.0625vw;
  font-family: Lato-regular;
  margin-top: unset !important;
  margin-bottom: unset !important;
}

.productLoginPageContainer .loginBox .leftBox .contentTextContainer p strong {
  font-family: Lato-bold;
}

.productLoginPageContainer .loginBox .leftBox .loginTitle {
  text-align: center;
  font-size: 2vw;
  color: #fff;
  margin-top: 2.375vw;
  width: 26.875vw;
}

.productLoginPageContainer .loginBox .leftBox .loginTitle strong {
  font-weight: 900;
  font-family: Lato-bold;
}

.productLoginPageContainer .loginBox .leftBox .loginLogoSignImage {
  width: 5.45625vw;
  height: 4.56875vw;
  margin-top: 1.25vw;
}

.productLoginPageContainer .loginBox .leftBox .loginLogoSignImage img {
  width: 100%;
  height: 100%;
}

.productLoginPageContainer .loginBox .leftBox .blackBtn {
  width: 8.5625vw;
  height: 2.0625vw;
  position: absolute;
  top: 5.9375vw;
  left: 6.5625vw;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productLoginPageContainer .loginBox .leftBox .blackBtn .btnText {
  font-size: 1.125vw;
  color: #fff;
  font-family: Lato-bold;
}

.productLoginPageContainer .loginBox .leftBox .loginTitleAdjust {
  position: absolute;
  top: 8.0625vw;
  left: 6.5625vw;
  width: 21.0625vw;
  text-align: left;
  margin-top: 0;
  font-family: Lato-regular;
  font-weight: 300;
}

.productLoginPageContainer .loginBox .leftBox .loginTitleAdjust strong {
  font-family: Lato-bold;
}

.productLoginPageContainer .loginBox .leftBox .logoSuccessImage {
  width: 5.45625vw;
  height: 3.09375vw;
  margin-top: 26.90625vw;
}

.productLoginPageContainer .loginBox .leftBox .logoSuccessImage img {
  width: 100%;
  height: 100%;
}

.productLoginPageContainer .loginBox .rightBox {
  position: relative;
  width: 34.375vw;
  height: 41.25vw;
  border-top-right-radius: 0.375vw;
  border-bottom-right-radius: 0.375vw;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productLoginPageContainer .loginBox .rightBox .welcomeBackTitle {
  margin-top: 7.625vw;
  font-size: 1.375vw;
  color: #535ad1;
  font-family: Lato-regular;
  font-weight: 500;
}

.productLoginPageContainer .loginBox .rightBox .welcomeBackTitle strong {
  font-family: Lato-bold;
}

.productLoginPageContainer .loginBox .rightBox .subTitle {
  margin-left: -8.4375vw;
  font-size: 1vw;
  font-weight: 500;
  font-family: Lato-regular;
  color: #717171;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer {
  margin-top: 1.5vw;
  width: 21.25vw;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer .label {
  font-size: 1vw;
  color: #5f5f5f;
  margin-bottom: 0.625vw;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer .numberField {
  width: 21.25vw;
  height: 4.0625vw;
  border-radius: 0.25vw;
  border: solid 1px #b1b4ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer .numberField .leftPart {
  padding: 1.125vw 1.3125vw 1.125vw 1.1875vw;
  border-top-left-radius: 0.25vw;
  border-bottom-left-radius: 0.25vw;
  background-color: #f4f4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #b1b4ea;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer .numberField .leftPart .Text91 {
  font-size: 1.25vw;
  color: #727272;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer .numberField .rightPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15.90625vw;
}

.productLoginPageContainer .loginBox .rightBox .fieldContainer .numberField .rightPart input {
  width: 15.625vw;
  outline: none;
  color: #000;
  font-size: 1.25vw;
  border: none;
  padding-left: 1.03125vw;
  font-family: Lato-regular;
  background: transparent;
}

.productLoginPageContainer .loginBox .rightBox .otpSubmit {
  margin-top: 1.875vw;
  width: 14.4375vw;
  height: 3.125vw;
  border-radius: 2.0625vw;
  background-color: #535ad1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productLoginPageContainer .loginBox .rightBox .otpSubmit .btnText {
  color: #fff;
  font-size: 1vw;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 {
  margin-top: 3.6875vw;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 .abcRioButton {
  width: 10.625vw !important;
  height: 2.5vw !important;
  border-radius: 0.25vw;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 .abcRioButtonContentWrapper {
  border-radius: 0.25vw;
  border: 1px solid #4285f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 .abcRioButtonContentWrapper .abcRioButtonIcon {
  width: 2.375vw;
  height: 2.375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #4285f4;
  padding: 0 !important;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 .abcRioButtonContentWrapper .abcRioButtonIcon .abcRioButtonIconImage {
  width: 1.125vw !important;
  height: 1.125vw !important;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 .abcRioButtonContentWrapper .abcRioButtonIcon .abcRioButtonIconImage svg {
  width: 1.125vw !important;
  height: 1.125vw !important;
}

.productLoginPageContainer .loginBox .rightBox .my-signin2 .abcRioButtonContentWrapper .abcRioButtonContents {
  font-size: 0.75vw !important;
  color: #727272 !important;
  margin-left: 0.1875vw !important;
  margin-right: 0.1875vw !important;
  line-height: 0 !important;
}

.productLoginPageContainer .loginBox .rightBox .bottomText {
  margin-top: 2.6875vw !important;
  font-size: 0.8125vw;
  color: #535ad1;
  line-height: 1.375vw;
  width: 16.25vw;
  text-align: center;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .bottomText a {
  text-decoration: underline;
  color: #535ad1;
}

.productLoginPageContainer .loginBox .rightBox .backContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.productLoginPageContainer .loginBox .rightBox .backContainer .backImage {
  width: 1.5vw;
  height: 1.5vw;
  cursor: pointer;
  margin-left: 1.75vw;
}

.productLoginPageContainer .loginBox .rightBox .backContainer .backImage img {
  width: 100%;
  height: 100%;
}

.productLoginPageContainer .loginBox .rightBox .backContainer .crossImage {
  width: 1.4375vw;
  height: 2.125vw;
  cursor: pointer;
  margin-right: 1.75vw;
}

.productLoginPageContainer .loginBox .rightBox .backContainer .crossImage img {
  width: 100%;
  height: 100%;
}

.productLoginPageContainer .loginBox .rightBox .enterOTPlabel {
  margin-top: 7.8125vw;
  margin-left: -12.5vw;
  font-size: 1.125vw;
  font-weight: 600;
  color: #535ad1;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .otpAdjustContainer {
  margin-top: 0.9375vw;
}

.productLoginPageContainer .loginBox .rightBox .otpAdjustContainer input {
  width: 3.875vw !important;
  height: 4.75vw;
  border-radius: 0.25vw;
  border: solid 1px #b1b4ea;
  margin-left: 0.375vw;
  margin-right: 0.375vw;
  outline: none;
  text-align: center !important;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .otpAdjustContainer input:focus {
  background-color: #f4f4ff;
}

.productLoginPageContainer .loginBox .rightBox .otpAdjustContainer .otpError {
  border: solid 1px #f07777;
}

.productLoginPageContainer .loginBox .rightBox .otpAdjustContainer .otpTextError {
  color: #f07777;
  font-size: 0.875vw;
  font-weight: 600;
  margin-top: 0.3125vw;
  margin-left: 0.3125vw;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox #timer {
  color: #fd914d;
  font-size: 1.125vw;
  font-weight: 600;
  margin-top: 1vw;
  font-family: Lato-regular;
}

.productLoginPageContainer .loginBox .rightBox .resentText {
  font-size: 0.875vw;
  font-weight: 600;
  color: #646464;
  margin-top: 2.4375vw;
}

.productLoginPageContainer .loginBox .rightBox .resentText span {
  color: #535ad1;
  border-bottom: 1px solid #535ad1;
  cursor: pointer;
  font-family: Lato-regular;
}
/*# sourceMappingURL=productLogin.css.map */