$desk: 100 / 1440;
.pageAdjustSection {
    position: relative;
    display: flex;
    .leftSection {
        width: auto;
    }
    .rightSection {
        width: 100%;
        margin-left: 10 * $desk + vw;
        margin-right: 10 * $desk + vw;
        // margin-top: 25 * $desk + vw;
        .appBarContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 95 * $desk + vw;
            .searchMainContainer {
                display: flex;
                align-items: center;
                .searchContainer {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 240 * $desk + vw;
                    height: 42 * $desk + vw;
                    border-radius: 8 * $desk + vw;
                    border: solid 1px #e4e9f2;
                    background-color: #fff;
                    .searchIconContainer {
                        margin-right: 8 * $desk + vw;
                        margin-left: 8 * $desk + vw;
                        .searchIcon {
                            font-size: 28 * $desk + vw;
                            color: #8f9bb3;
                        }
                    }
                    .inputContainer input {
                        width: 95% !important;
                        font-size: 16 * $desk + vw;
                        color: #8f9bb3;
                    }
                    .inputContainer::placeholder {
                        color: #8f9bb3;
                    }
                }
                .headerSection {
                    margin-left: 20 * $desk + vw;
                    h3 {
                        font-size: 22 * $desk + vw;
                        color: #4046b2;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                }
            }
            .rightAppBarSection {
                display: flex;
                align-items: center;
                .addBtn {
                    background-color: #535ad1;
                    box-shadow: none;
                    margin-right: 20 * $desk + vw;
                }
                .nameContainer {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .nameText {
                        color: #8f9bb3;
                        font-size: 17 * $desk + vw;
                    }
                    .arrowDown {
                        color: #8f9bb3;
                    }
                }
                .avatar {
                    width: 50 * $desk + vw;
                    height: 50 * $desk + vw;
                    border-radius: 64 * $desk + vw;
                    margin-left: 10 * $desk + vw;
                }
            }
        }
    }
}
