$desk: 100 / 1440;
.pageAdjustSection {
    position: relative;
    display: flex;
    .leftSection {
        width: 270 * $desk + vw;
    }
    .rightSection {
        width: 1135 * $desk + vw;
        margin: auto;
        margin-top: 25 * $desk + vw;
    }
}
